.search_book {
  margin-bottom: 20px;
  border-top: 1px solid #dadada;
  padding-top: 20px;
}

.search_book > input {
  padding: 10px 40px 10px 20px;
  width: 360px;
  border: 1px solid #dadada;
  border-radius: 30px;
  outline: none;
}

.search_book_btn {
  color: #cac9c9;
  position: relative;
  left: -33px;
  top: 1px;
  font-size: 20px;
  cursor: pointer;
}

.search_book_btn:hover {
  color: #242424;
}

.booklist_nav {
  display: flex;
  /* width: 450px; */
  background-color: rgb(33, 41, 66);
  /* margin-bottom: 20px; */
}

.booklist_nav li {
  color: #ffffff;
  padding: 5px 20px;
}

.booklist_nav li:hover {
  background-color: #bababa;
}

.nav_selected {
  border-bottom: 5px solid #fff;
}
