.chatting {
  width: 580px;
  height: 680px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.chatting_log {
  overflow-y: auto;
  height: 570px;
  padding-top: 10px;
}

.mine,
.others {
  display: inline-block;
  width: 100%;
  margin: 5px 0;
  position: relative;
}

.mine {
  text-align: right;
}
.mine > .chat_text {
  float: right;
  max-width: 300px;
  padding: 10px 12px;
  border-radius: 14px;
  border-top-right-radius: 0;
  background-color: #feccbe;
}

.others > .chat_text {
  float: left;
  max-width: 300px;
  padding: 10px 12px;
  border-radius: 14px;
  border-top-left-radius: 0;
  background-color: #f5f0ed;
}

.chat_time {
  font-size: 12px;
  display: inline-block;
  padding: 26px 5px 0;
  color: #999695;
}

.input_chat {
  padding: 10px 0;
  margin: 10px 0;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}

.input_chat > input {
  width: 510px;
  border: 0;
  outline: none;
}

.send_icon {
  color: #999695;
  cursor: pointer;
}

.send_icon:hover {
  color: #feccbe;
}

.chat_date {
  text-align: center;
  font-size: 14px;
  color: #696767;
  font-weight: bold;
}

.chat_date > span {
  padding: 8px 12px;
  background-color: antiquewhite;
  border-radius: 13px;
}
