.chatting {
  width: 580px;
  height: 680px;
  padding: 20px;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 10px;
}

.mine,
.others {
  display: inline-block;
  width: 100%;
}

.mine > span {
  float: right;
  max-width: 300px;
  padding: 13px;
  border-radius: 14px;
  border-top-right-radius: 0;
  background-color: #feccbe;
}

.others > span {
  float: left;
  max-width: 300px;
  padding: 13px;
  border-radius: 14px;
  border-top-left-radius: 0;
  background-color: #f5f0ed;
}
