.item_wrap {
  position: relative;
  float: left;
  padding: 10px;
  border-radius: 10px;
  width: 270px;
  height: 430px;
  margin: 0 10px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #f0f0f0;
  transition: 0.5s;
}

.item_wrap:hover {
  transform: scale(1.03);
}

.content_wrap img {
  width: 250px;
  height: 250px;
}

.content_wrap .book_title {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 3px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3em;
}

.content_wrap > ul li:nth-child(2) {
  font-size: 0.9em;
  color: #c4c4c4;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons_wrap {
  position: absolute;
  bottom: 10px;
}

.buttons_wrap .ch_count {
  font-size: 0.9em;
}

.buttons_wrap .checkout_btn {
  width: 250px;
  padding: 3px;
  border: none;
  border-radius: 5px;
  background-color: #feccbe;
  color: #fff;
}

.buttons_wrap .checkout_btn:hover {
  background-color: #fd8a69;
}

.buttons_wrap .checkoutDis_btn {
  width: 250px;
  padding: 3px;
  border: none;
  border-radius: 5px;
  background-color: #dadada;
  color: #fff;
}

.book_pagenation {
  justify-content: center;
}

.pagenation .page-item .page-link {
  color: #fd8a69 !important;
}

.pagenation .page-item.active .page-link {
  background-color: #fd8a69 !important;
  color: #fff !important;
}
