.cout_btn {
  background-color: #feccbe;
  border: none;
}

.cout_btn:hover {
  background-color: #fd8a69;
}

.cancle_btn {
  background-color: #dadada;
  border: none;
}

.cancle_btn:hover {
  background-color: #b8b8b8;
}

.img_wrap {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.book_img {
  min-width: 150px;
  height: 200px;
}

.book_title,
.names,
.checkout_date {
  font-weight: bold;
  font-size: 1.1em;
}

.content {
  margin-bottom: 20px;
}
