.book_header {
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 20px;
}

.board_title {
  font-size: 32px;
  margin-right: 20px;
  width: 80px;
  font-weight: 800;
}

div.search_box {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  position: relative;
}

.book_search {
  min-width: 250px;
  border: 1px solid #feccbe;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  position: relative;
  outline: none;
  margin-bottom: 10px;
}

.book_search_btn {
  position: relative;
  left: -25px;
  top: 10px;
  color: #feccbe;
}

.booklist_nav {
  display: flex;
}

.booklist_nav li {
  padding: 5px 20px;
  font-size: 1.1em;
  cursor: pointer;
  float: left;
  font-weight: bold;
  color: #adabab;
}

li.nav_selected {
  color: #000;
  border-bottom: 2px solid red;
}
