a {
  color: #404040;
  text-decoration: none;
}

li {
  list-style: none;
}

.booklist_wrap {
  margin-bottom: 10px;
}

.book_item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.booklist_wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.booklist_wrap:hover {
  background-color: #f5f5f5;
}

.book_item img {
  max-width: 100px;
}

.book_title {
  font-size: 1.2em;
  font-weight: bold;
}

.buttons {
  align-items: center;
  height: 100%;
}

.buttons_wrap {
  padding-top: 35px;
}

.ch_count {
  font-size: 0.9em;
  color: #3f3f3f;
  margin-right: 3px;
}

.buttons input[type="button"] {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  background-color: #feccbe;
  color: #ffffff;
}
