.content_wrap {
  /* display: flex; */
  width: 100%;
}

.mini_nav {
  margin-bottom: 10px;
}

.first_wrap {
  margin-bottom: 30px;
}

.second_wrap {
  display: flex;
  margin-bottom: 20px;
}

.block {
  display: inline-block;
}

.recommend_books,
.community {
  margin-bottom: 20px;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

.recommend_books {
  width: 100%;
  margin-right: 30px;
}

.my_info_wrap {
  width: 25%;
}

.community {
  width: 650px;
  margin-right: 30px;
}

.more {
  float: right;
  color: #bababa;
  cursor: pointer;
}

.books_wrap {
  width: 100%;
}

.more_book {
  font-size: 0.8em;
  border-radius: 500px;
  vertical-align: 150px;
  padding: 15px;
  color: #bababa;
  margin-left: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.more_book:hover {
  background-color: #e0e0e0;
  color: #ffffff;
}

.table_wrap {
  width: 100%;
  /* border: 1px solid #dadada; */
  height: 300px;
}

.board_table {
  width: 100%;
  height: 100%;
}

table.board_table th {
  background-color: #dadada;
  color: #ffffff;
  padding: 10px 0;
}

table.board_table th:nth-child(2) {
  width: 45%;
}

table.board_table th:nth-child(1),
table.board_table th:nth-child(3),
table.board_table th:nth-child(4) {
  width: 18%;
}

table.board_table td {
  padding: 10px;
}

table.board_table tbody tr {
  border-top: 1px solid #dadada;
}

.graph {
  width: 600px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.bar {
  align-items: center;
  line-height: 40px;
}

.barLabel {
  margin-top: 20px;
}

.barFill {
  background-color: #889aff;
  height: 25px;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
  /* text-align: right; */
  /* line-height: 25px; */
  color: #000;
}

.table_room {
  width: 600px;
  text-align: center;
  /* border-collapse: separate; */
}

.table_room thead {
  background-color: #dadada;
  border: 1px solid #dadada;
}

.table_room thead th {
  padding: 10px;
  color: #fff;
  width: 33%;
  /* border-right: 1px solid #c5c4c4; */
}

.table_room tbody {
  height: 250px;
}

.table_room td {
  width: 33%;
  font-size: 35px;
  /* border-left: 1px solid #c5c4c4; */
  /* border-bottom: 1px solid #c5c4c4; */
}

.table_room td > span {
  width: 100%;
  height: 180px;
  display: inline-block;
  line-height: 180px;
  /* border-left: 1px solid #c5c4c4; */
}

.table_room td:nth-child(2) > span {
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
}

.circle {
  width: 25px;
  height: 25px;

  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.circle_red {
  background-color: red;
}

.circle_yellow {
  background-color: yellow;
}

.circle_green {
  background-color: greenyellow;
}

.total_seat {
  font-size: 12px;
}
