div.reserve_wrap {
  width: 100%;
  background-color: #ffeee8;
  padding: 50px;
  display: inline-block;
  border-radius: 30px;
}

div.reserve_tap {
  display: flex;
  float: left;
  justify-content: space-between;
  width: 100%;
  height: 70px;
}

div.reserve_tap_item {
  color: #fff;
  font-size: 32px;
  padding: 3px 30px 0px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  width: 280px;
  text-align: center;
  cursor: pointer;
  line-height: 70px;
  background-color: rgb(242, 224, 224);
}

.reserve_tap_item {
  display: inline-block;
}

div.reserve_tap_item.current_room {
  background-color: #feccbe;
  font-weight: bold;
}

div.reserve_content {
  display: inline-block;
  width: 49%;
  height: 800px;
  background-color: #feccbe;
  /* border-radius: 30px; */
}

div.reserve_content:nth-child(2) {
  padding: 30px;
  margin-right: 22px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

div.reserve_content:nth-child(3) {
  padding: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.pin {
  display: inline-block;
  width: 20px; /* 핀의 전체 너비 */
  height: 40px; /* 핀의 전체 높이 */
  position: relative;
}

.pin_body {
  width: 1px; /* 핀 몸체 너비 */
  height: 50px; /* 핀 몸체 높이 */
  background-color: red; /* 몸체 색상 */
  border-radius: 2px; /* 몸체를 둥글게 만듭니다. */
  position: absolute;
  left: 50%; /* 가운데 정렬 */
  transform: translateX(-50%); /* 가운데 정렬 */
}

.pin_head {
  width: 10px; /* 핀 머리 너비 */
  height: 10px; /* 핀 머리 높이 */
  background-color: red; /* 머리 색상 */
  border-radius: 50%; /* 머리를 원 모양으로 만듭니다. */
  position: absolute;
  top: 0;
  left: 50%; /* 가운데 정렬 */
  transform: translateX(-50%); /* 가운데 정렬 */
}
