.slide_block {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  width: 17%;
  max-height: 280px;
  background-color: #ffffff;
  transition: all 0.2s;
}

.slide_block:hover {
  transform: scale(1.03);
}

.slide_block img {
  height: 200px;
  min-width: 100%;
}

.text_wrap {
  text-align: left;
}

.text_wrap .title,
.text_wrap .author,
.text_wrap .publisher {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author,
.publisher {
  font-size: 0.85em;
  color: #bababa;
}
