div.side_bar {
  width: 13%;
  background-color: #9495ed;
  border-radius: 20px;
  height: 98vh;
  padding: 30px 0 30px 20px;
  position: relative;
  min-width: 160px;
}

.logo {
  position: relative;
  z-index: 500;
  /* max-width: 80%; */
  max-width: 140px;
  min-width: 140px;
  min-height: 50.85px;
  max-height: 50.85px;
  margin: 30px 30px 110px 10px;
}

.nav_menu {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav_menu > li {
  padding: 25px 0 25px 15px;
  margin-bottom: 8px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  height: 20px;
  line-height: 2px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  transition: all 0.3s;
}

.nav_menu > li:hover {
  color: #cbccff;
  font-size: 1.1em;
}

li.on {
  background-color: #fff;
  color: #889aff;
  font-size: 1.1em;
}

li.on:hover {
  color: #cbccff;
}

.logout {
  position: absolute;
  bottom: 60px;
  left: 20%;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.logout:hover {
  color: #cbccff;
  font-size: 1.1em;
  transition: all 0.2s;
}
