.nav_wrap {
  width: 100%;
  margin: 15px auto;
  text-align: center;
  min-width: 1600px;
  background-color: #fd8a69;
}

.nav_wrap a {
  display: inline-block;
  text-align: center;
  margin-right: 50px;
  margin-top: 15px;
  color: #fff;
}
