.study_wrap {
  margin: 45px auto;
  width: 1300px;
}

.carousel_img {
  max-width: 980px;
  min-width: 980px;
  min-height: 600px;
  max-height: 600px;
  cursor: pointer;
}

.calendar {
  padding-bottom: 30px;
  border-bottom: 1px solid #dadada;
  margin: -20px auto 0;
  display: inline-block;
  width: 1200px;
}

.calendar .year_month_list {
  font-style: italic;
  color: #fd8a69;
  font-weight: bold;
  width: 100% - 30px;
  padding-left: 30px;
}

.calendar .year_month_list .year {
  font-size: 2.4rem;
}

.calendar .year_month_list .month {
  font-size: 1.55rem;
}

.calendar .day_list {
  width: 100%;
  font-size: 1.4rem;
  color: #fd8a69;
  float: left;
}

.day_list .day_list_container {
  display: flex;
  justify-content: space-evenly;
}

.calendar .day_list .day_list_area {
  text-align: center;
  float: left;
  margin-left: 4em;
  cursor: pointer;
  width: 70px;
  height: 110px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calendar .day_list .day_list_area:first-child {
  margin: 0;
}

.calendar .day_list .day_list_area .sun {
  color: red !important;
}

.calendar .day_list .day_list_area .sat {
  color: #156fb9 !important;
}

.calendar .day_list .day_list_area:hover {
  background: #f3b9a4;
  color: white;
}

.calendar .day_list .day_list_area.selected_day {
  border: 1px solid #f3b9a4;
}

.calendar .day_list .day_list_area.selected_day .weak {
  color: #000;
  /* text-decoration: underline; */
}

.calendar .day_list .day_list_area .weak {
  font-size: 0.8em;
  color: rgb(117, 116, 116);
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.calendar .day_list .day_list_area .day {
  font-weight: bold;
}

.study_reservation_wrap {
  margin-top: 50px;
  width: 1200px;
}

.study_reservation_date {
  width: 50%;
  height: 500px;
  background-color: red;
}

.study_reservation_confirm {
  width: 50%;
  background-color: blue;
}
