.book_item {
    /* border: 1px solid #dadada; */
    padding: 10px 10px;
    width: 240px;
    height: 370px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-right: 10px;
    transition: all 0.2s;
}

.book_item:hover {
    transform: scale(1.03);
}

.book_item img {
    min-width: 100%;
}


.book_title {
    font-weight: bold;
}

.name {
    font-size: 0.8em;
    color: #bababa;
    margin-bottom: 5px;
}

.sale_price {
    color: #FD8A69;
    font-weight: bold;
}

.ori_price {
    margin-left: 5px;
    font-size: 0.75em;
    color: #bababa;
    text-decoration: line-through;
}