.swiper {
  width: 100%;
}

.swiper_slide {
  text-align: center;
  max-height: 280px;
  /* background-color: #ffeee8; */
  /* border-radius: 15px; */
}

.swiper-pagination-bullet-active {
  background: #fd8a69 !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fd8a69 !important;
}
