.quick_menu {
  z-index: 100;
  position: fixed;
  bottom: -50px;
  right: 70px;
  transition: all 0.5s;
  height: 80px;
}

.on {
  left: 1450px;
  bottom: 520px;
  transition: all 0.5s;
}

.quick_btn {
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50px;
  height: 50px;
  border-radius: 250px;
  background-color: #f3f3f3;
  margin-bottom: 10px;
  position: fixed;
  bottom: 0px;
  right: 40px;
}

.quick_btn:hover {
  background-color: #dadada;
}

.msg_icon {
  font-size: 25px;
  color: #9c9898;
}

.icon_clicked {
  color: #fd8a69;
}

.user_cnt {
  font-size: 12px;
}

.chat_box {
  width: 800px;
  min-width: 800px;
  height: 600px;
  background-color: #fff;
  border: 1px solid #dbdbdb71;
  border-radius: 20px;
  display: flex;
  position: absolute;
  right: -30px;
  transition: all 0.5s;
  top: -80px;
}

.icon_wrap {
  width: 100%;
  /* border-bottom: 1px solid #dadada; */
  padding-bottom: 5px;
}

.leave_icon {
  cursor: pointer;
  float: right;
  font-size: 12px;
  font-weight: bold;
  color: #b2b2b2;
}

.leave_icon:hover {
  color: #535353;
}

.chatting_room_name {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  position: relative;
}

.close_chat_log {
  position: absolute;
  left: 0;
  top: 20%;
  color: #b1b1b1;
  font-size: 15px;
  cursor: pointer;
}

.close_chat_log:hover {
  color: #535353;
}

.chat_box {
  /* width: 10px; */
  /* height: 500px; */
  background-color: #fff;
  display: flex;
}

.chat_list {
  width: 30%;
  height: 600px;
  overflow-y: auto;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 1px solid #dbdbdb71;
}

.chat_room {
  padding: 20px;
  cursor: pointer;
}

.chat_list_tit {
  text-align: center;
  padding: 15px 0;
  margin-bottom: 10px;
  font-weight: bold;
  color: #fd8a69;
}

.chat_room_on {
  border: 1px solid #ff0000;
}

.chatting_room {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.group_icon {
  margin-right: 5px;
}

.group_name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #585858;
}

.chatting_room .group_name:hover {
  color: #fd8a69;
}

.chatting_room .group_icon {
  color: #585858;
}

.delete_room {
  cursor: pointer;
  color: #646464;
  font-size: 0.8em;
}

.chat_room_latest {
  margin-top: 5px;
}

.chat_room_latest .chat_date {
  font-size: 0.8em;
  color: #646464;
  /* width: 100%; */
}

.chat_area {
  display: flex;
  flex-direction: column;
  padding: 15px 30px 10px;
  width: 70%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff1eb7a;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.chat_area img {
  width: 200px;
  height: 170px;
}

.chatting {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.chatting .chatting_log {
  height: 430px;
  width: 100%;
  overflow-y: scroll;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  /* background-color: #fff; */
}

.chat_date {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.chat_date span {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px 50px;
  border-radius: 50px;
  color: #646464;
}

.input_chat {
  width: 100%;
  /* padding: 10px; */
  position: relative;
}

.input_chat input {
  padding: 10px 40px 10px 20px;
  width: 100%;
  margin-right: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
}

.send_icon {
  position: absolute;
  right: 20px;
  top: 14px;
  cursor: pointer;
  color: #999695;
}

.send_icon:hover {
  color: #535353;
}

.chatting_log {
  overflow-y: auto;
  height: 570px;
  padding-top: 10px;
}

.mine,
.others {
  display: inline-block;
  width: 100%;
  margin: 5px 0;
  position: relative;
}

.mine {
  text-align: right;
}
.mine > .chat_text {
  float: right;
  max-width: 300px;
  padding: 10px 12px;
  border-radius: 18px;
  border-top-right-radius: 0;
  /* background-color: #feccbe; */
  background: linear-gradient(to top, #ffeeeb, #feccbe, #fff9f8);
}

.others > .chat_text {
  float: left;
  max-width: 300px;
  padding: 10px 12px;
  border-radius: 18px;
  border-top-left-radius: 0;
  background: linear-gradient(to top, #e6e6e675, #fff, #fff);
}

.others > .user_name {
  font-size: 13px;
  margin-bottom: 3px;
  color: #747373;
}

.chat_time {
  font-size: 10px;
  display: inline-block;
  padding: 26px 5px 0;
  color: #999695;
}

.admins {
  text-align: center;
}

.admins > span {
  display: inline-block;
  margin: 5px;
  padding: 5px 13px;
  background-color: #818080;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #d4d3d3;
}
