.quick_menu {
  z-index: 100;
  position: fixed;
  bottom: -50px;
  right: 70px;
  transition: all 0.5s;
  height: 80px;
}

.on {
  left: 1450px;
  bottom: 520px;
  transition: all 0.5s;
}

.quick_btn {
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50px;
  height: 50px;
  border-radius: 250px;
  background-color: #f3f3f3;
  margin-bottom: 10px;
  position: fixed;
  bottom: 0px;
  right: 40px;
}

.quick_btn:hover {
  background-color: #dadada;
}

.msg_icon {
  font-size: 25px;
  color: #9c9898;
}

.icon_clicked {
  color: #c4dd8b;
}

.chat_box {
  width: 600px;
  height: 600px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 10px;
  display: flex;
  position: absolute;
  right: -30px;
  transition: all 0.5s;
  top: -80px;
}

.chat_box .chat_list {
  width: 30%;
  overflow-y: scroll;
}

.chat_box .chat_area {
  width: 70%;
}
