.section_wrap {
  margin: 0 50px;
}

.community_detail_wrap {
  position: relative;
}

.view_content {
  margin-top: 30px;
  width: 100%;
}

h1.content_title {
  border: none;
  font-weight: bold;
  font-size: 1.6em;
  margin-bottom: 10px;
  color: #989898;
}

span.content_reg_date,
span.user_name {
  border: none;
  margin-bottom: 10px;
  color: #989898;
}

.community_detail_btns {
  /* float: right; */
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
}

.back_to_list {
  float: right;
  margin-right: 15px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.c_d_btns_wrap {
  float: right;
  position: relative;
  /* display: flex;
  justify-content: flex-end; */
}

span.modify_delete {
  /* float: right; */
  position: absolute;
  width: 100px;

  text-align: center;
  right: 0;
  top: 25px;
  border: 1px solid #dadada;
  background-color: #fff;
  z-index: 100;
  border-radius: 15px;
  font-weight: bold;
  overflow: hidden;
}

.modify_delete > div:first-child {
  border-bottom: 1px solid #dadada;
}

.modify_delete > div {
  padding: 15px;
}

.modify_delete > div:hover {
  background-color: #eeeaea;
}

span.modify_delete a {
  cursor: pointer;
}

div.content_area {
  margin: 20px auto;
  padding: 20px 0;
  border: 1px solid #dadada;
  border-radius: 10px;
  text-align: center;
}

div.content_area img {
  max-width: 100%;
}

#editor {
  border: none;
}

.hit_wrap {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 30px;
  color: #989898;
}

hr {
  margin-bottom: 40px;
}

.chat_enter_card {
  display: flex;
  justify-content: center;
}

.ce_card {
  display: flex;
  width: 450px;
  background-color: #dadbfd;
  border: 15px solid #afbbff;
  border-radius: 20px;
}

.ce_card img {
  max-width: 200px;
}

.ce_card_info {
  padding: 10px;
  width: 300px;
}

.ce_title {
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  height: 60px;
  word-break: break-all;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.ce_user_count {
  padding-right: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ce_user_count > .can_join {
  color: #00cf23;
  margin-right: 5px;
}

.ce_user_count > .can_not_join {
  color: #ff0000;
  margin-right: 5px;
}

.ce_button {
  float: right;
  margin-right: 12px;
  outline: none;
  border: none;
  background-color: #eeeeee;
  border-radius: 12px;
  padding: 8px;
  font-weight: bold;
  color: #797777;
}

.ce_button:hover {
  color: #889aff;
}

/* 댓글 작성 */
.user_input {
  display: flex;
  margin-bottom: 30px;
  width: 100%;
}

.user_input_area {
  width: calc(100% - 60px);
}

.user_input > img {
  max-width: 40px;
  min-width: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 50%;
  /* border: 1px solid #dadada; */
  background-color: red;
  margin-right: 10px;
}

.user_input_area > input {
  height: 30px;
  line-height: 30px;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 15px;
  width: 100%;
  margin-bottom: 10px;
}

.input_comment_unable {
  height: 30px;
  line-height: 30px;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 15px;
  width: 100%;
  margin-bottom: 10px;
}

.user_input_btns {
  text-align: right;
}

.user_input_btns > button {
  background-color: rgb(216, 213, 213);
  border: none;
  padding: 8px 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 8px;
}

.user_input_btns > button:hover {
  color: #fff;
}

.comment_wrap {
  width: 100%;
}

.comment_wrap > p {
  font-size: 1.2em;
  font-weight: bold;
  color: #cbccff;
  margin-bottom: 20px;
}

/* 댓글 */

.comments tr {
  height: 80px;
}

.comment_wrap td {
  padding-bottom: 20px;
}

.comment_content {
  /* width: calc(100% - 60px); */
}

.comment_img {
  width: 60px;
  vertical-align: top;
}

.comment_img > img {
  max-width: 40px;
  min-width: 40px;
  max-height: 40px;
  min-height: 40px;
  background-color: red;
  border-radius: 50%;
}

.comment_user {
  font-size: 13px;
  margin-bottom: 5px;
  padding-top: 3px;
  font-weight: bold;
}

.comment_text {
  /* width: 100%; */
}

.comment_date {
  margin-left: 8px;
  color: gray;
}

.comment_btns {
  margin: 8px 0 15px;
  font-size: 11px;
  font-weight: bold;
  color: grey;
}

.comment_btns > span {
  cursor: pointer;
  margin-right: 8px;
}

.comment_btns > span:hover {
  color: #889aff;
}

/* 댓글 */

.comment_reply_wrap {
  margin: 10px 0;
}

.comment_reply {
  display: flex;
}

.comment_reply > img {
  min-width: 40px;
  max-width: 40px;
  max-height: 40px;
  min-height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.reply_content {
  width: calc(100% - 50px);
}

/* 대댓글 작성 */

.write_reply_wrap {
  width: 100%;
}

.write_reply {
  margin: 8px 0;
  display: flex;
  align-items: center;
}
.write_reply > img {
  min-width: 40px;
  max-width: 40px;
  max-height: 40px;
  min-height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.write_reply > input {
  height: 30px;
  line-height: 30px;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  width: calc(100% - 50px);
  font-size: 15px;
}

.write_reply_btns {
  text-align: right;
}

.write_reply_btns > button {
  background-color: rgb(216, 213, 213);
  border: none;
  padding: 8px 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 8px;
}

.write_reply_btns > button:hover {
  color: #ffffff;
}

/* 댓글 수정 */
.comment_modify {
  width: 100%;
  height: 30px;
  line-height: 30px;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
}

.modify_comment_btns {
  text-align: right;
}

.modify_comment_btns > button {
  background-color: rgb(216, 213, 213);
  border: none;
  padding: 8px 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 8px;
}

.modify_comment_btns > button:hover {
  color: #fff;
}
