.book_search {
  min-width: 400px;
  margin-bottom: 10px;
  border: 1px solid #feccbe;
  border-radius: 3px;
  padding: 3px;
}

.booklist_nav {
  display: flex;
  /* width: 450px; */
  background-color: #feccbe;
}

.booklist_nav li {
  color: #ffffff;
  padding: 5px 20px;
}

.booklist_nav li:hover {
  background-color: #ffeee8;
}
