* {
  margin: 0;
  padding: 0;
}

ul {
  overflow: hidden;
}

li {
  list-style: none;
  /* float: left; */
}
div.modal-content {
  height: 500px;
}

body {
  height: 2000px;
}

a {
  color: #404040;
  text-decoration: none;
}

li {
  list-style: none;
}
